@page
@model WebApp.ClientDeleteModel
@{
    ViewData["Title"] = "ClientDelete";
}

<h1>Are you sure you want to Delete @Model.Client.Name ?</h1>


<form method="post">

    <input type="hidden" asp-for="Client.Id" />

    <button class="btn btn-danger" type="submit">Yes</button>
    <a class="btn btn-primary" asp-page="./ClientList">No</a>
</form>
