@page "{id:int}"
@model WebApp.BookCopyDeleteModel
@{
    ViewData["Title"] = "BookCopyDelete";
}

<h2>Delete copy of Book @Model.BookCopy.Book.Title</h2>

<form method="post">
    
    <input type="hidden" asp-for="BookCopy.Id" />

    <button class="btn btn-danger" type="submit">Yes</button>
    <a class="btn btn-primary" asp-page="./BookCopiesList">No</a>
</form>
