@page
@model WebApp.CreateBookCopyModel
@{
    ViewData["Title"] = "CreateBookCopy";
}

<h2>Create a Book Copy</h2>

<form method="post">

    <input type="hidden" asp-for="BookCopy.Id" />
    <input type="hidden" asp-for="Book.Id" />

    <div class="form-group">
        <label asp-for="Book.Title"></label>
        <input class="form-control" asp-for="Book.Title" readonly/>
    </div>

    <div class="form-group">
        <label>Number of Copies</label>
        <input class="form-control" asp-for="BookCopy.NumberOfCopies" />
        <span asp-validation-for="BookCopy.NumberOfCopies" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Book.BookDescription"></label>
        <textarea class="form-control" rows="5" asp-for="Book.BookDescription" readonly></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-primary" asp-page="./BookCopiesList">Cancel</a>
    </div>
</form>

