@page

@model WebApp.CreateLendingModel
@{
    ViewData["Title"] = "CreateLending";
}

<h2>Create New Lending</h2>


<form method="post">

    <input type="hidden" asp-for="Lending.Id" />

    <input type="hidden" asp-for="Client.Name" />

    <div class="form-group">
        <label asp-for="Lending.ClientId"></label>
        <select class="form-control" asp-for="Lending.ClientId" asp-items="Model.SelectClient">
            <option value="">Select Client</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Lending.BookId"></label>
        <select class="form-control" asp-for="Lending.BookId" asp-items="Model.SelectBook">
            <option value="">Select Book</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Lending.LibraryId"></label>
        <select class="form-control" asp-for="Lending.LibraryId" asp-items="Model.SelectLibrary">
            <option value="">Select Library</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Lending.DatumZajmuvanje"></label>
        <input class="form-control" asp-for="Lending.DatumZajmuvanje" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-primary" asp-page="/Clients/ClientDetails" asp-route-id="@Model.Client.Id">Cancel</a>
    </div>

</form>
